section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid black;
}
legend.admin {
  margin-bottom: 15px;
}
div.deletePageWrapper {
  position: relative;
  display: block;
  margin-top: 10px;
}
a.addPage,
a.deletePage {
  float: right;
  overflow: hidden;
}
div.clear {
  clear: both;
}

div.view-section p {
  font-size: 18px;
}
.key {
  font-weight: bold;
}
input.showTitleCheckbox {
  margin: 4px 0 0 5px;
}
button.submit {
  font-size: 18px;
}
div.fileUploadField {
  margin-bottom: 10px;
}
div.currentStaticImgWrapper {
  width: 150px;
  height: 150px;
}
div.currentStaticImgWrapper img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
