section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid black;
}
legend.admin {
  margin-bottom: 15px;
}
div.deleteWrapper {
  position: relative;
  display: block;
  margin-top: 10px;
}
button.deleteValue {
  margin-bottom: 20px;
  float: right;
  overflow: hidden;
}
a.addPage,
a.deletePage,
a.add,
a.delete,
span.required {
  float: right;
  overflow: hidden;
}
a.add {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid lightgray;
}
div.clear {
  clear: both;
}

div.view-section p,
div.view-section ul li {
  font-size: 18px;
}
div.view-section ul li {
  margin-bottom: 10px;
}
div.view-section ul li span.entry {
  margin-right: 15px;
}
.key {
  font-weight: bold;
}
input.showTitleCheckbox {
  margin: 4px 0 0 5px;
}
button.submit {
  font-size: 18px;
}
div.fileUploadField {
  margin-bottom: 10px;
}
div.currentStaticImgWrapper {
  width: 150px;
  height: 150px;
}
div.currentStaticImgWrapper img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
form.displayedAttributesForm div.field.attributeField,
form.displayedAttributesForm div.field.attributeLabel {
  margin-right: 10px;
  display: inline-block;
  width: calc(50% - 80px);
}
form.displayedAttributesForm a.delete,
span.required {
  margin-top: 40px;
}
