.item-page-wrapper {
  padding: 40px 0px 40px 0px;
}

.item-image-section {
  margin-top: 40px;
  background-color: var(--light-gray);
  border: solid 1px #707070;
  padding: 1.5em;
}

div.item-image-section div.breadcrumbs-wrapper {
  padding: 0 0 1.5em 0;
  font-family: "gineso-condensed", sans-serif;
  font-size: 1rem;
}

div.item-image-section div.breadcrumbs-wrapper ul {
  margin: 0;
}

div.item-image-section img.item-img {
  width: 100%;
}

.item-details-section {
  padding: 40px 0 40px 0;
}

.details-section-description h1 {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.3125rem;
}

.details-section-description p {
  font-family: "Acherus", sans-serif;
}

.details-section-metadata {
  border-left: none;
  padding-top: 40px;
}

.details-section-metadata a,
.details-section-metadata a:visited {
  color: var(--hokieOrange);
}

.details-section-metadata a:hover,
.details-section-metadata a:focus,
.details-section-metadata a:active {
  color: var(--hokieOrangeHover);
}

.details-section-metadata td,
.details-section-metadata th {
  display: block;
  padding: 0;
  line-height: 1.25em;
}

.details-section-metadata th.collection-detail-key {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  vertical-align: text-top;
}

.details-section-metadata td.collection-detail-value {
  font-family: "Acherus", sans-serif;
  vertical-align: text-top;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  div.details-section-metadata {
    border-left: 1px solid grey;
    padding-top: 0px;
  }

  div.item-image-section div.breadcrumbs-wrapper {
    padding: 0 0 1.5em 0;
    font-family: "gineso-condensed", sans-serif;
    font-size: 1.09rem;
  }
}
