.breadcrumbs-wrapper {
  position: relative;
  display: block;
  background-color: var(--light-gray);
  padding: 5px 10px;
  overflow-y: hidden;
  font-family: "gineso-condensed", sans-serif;
}
.breadcrumbs-wrapper ol {
  margin-left: 15px;
  list-style-type: none;
}

.breadcrumbs-wrapper ol li {
  position: relative;
  display: block;
  float: left;
  margin-left: 15px;
}

.breadcrumbs-wrapper ol li a.vt-breadcrumbs-link,
.breadcrumbs-wrapper ol li a.vt-breadcrumbs-link:visited {
  color: black;
}
.breadcrumbs-wrapper ol li:last-child a.vt-breadcrumbs-link,
.breadcrumbs-wrapper ol li:last-child a.vt-breadcrumbs-link:visited {
  color: var(--themeHighlightColor);
}

.breadcrumbs-wrapper ol li:first-child {
  margin-left: -40px;
}

.breadcrumbs-wrapper ol li:last-child .breadcrumb-slash {
  display: none;
}
