div.nav-row {
  background-color: var(--light-gray);
  padding: 10px 15px;
}

.top-content-row {
  margin-top: 40px;
}

.top-content-row .collection-img-col {
  display: none;
}

@media only screen and (min-width: 576px) {
  .top-content-row .collection-img-col {
    display: block;
    height: 300px;
    max-width: 390px;
    text-align: center;
  }
}
.top-content-row .collection-img-col img {
  max-height: 100%;
  max-width: 100%;
}

h1.collection-title {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  display: block;
  color: var(--themeHighlightColor);
}
h2.subcollection-title {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  display: block;
}
div.post-heading {
  font-family: "gineso-condensed", sans-serif;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--dark-gray);
}
span.item-count:after,
span.creator:after {
  content: "\00a0\00a0•\00a0\00a0";
}
.description {
  padding: 15px 0 25px 0;
}
.description h2.introduction {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.125rem;
}

.description .more,
.description .less,
.description .more:hover,
.description .less:hover,
.description .more:visited,
.description .less:visited {
  display: inline-block;
  color: var(--hokieOrange);
  border: none;
  background-color: transparent;
}

.description.trunc .less {
  display: none;
}

.description.full .more {
  display: none;
}

.mid-content-row {
  margin: 40px 0;
  padding: 20px;
  background-color: var(--light-gray);
}

.mid-content-row a,
.mid-content-row a:visited {
  color: var(--hokieOrange);
}

.mid-content-row a:hover,
.mid-content-row a:focus,
.mid-content-row a:active {
  color: var(--hokieOrangeHover);
}

.container-fluid .details-section {
  line-height: 1.2em;
  border-bottom: 1px solid var(--dark-gray);
  border-right: none;
}
@media only screen and (min-width: 992px) {
  .container-fluid .details-section {
    border-right: 1px solid var(--dark-gray);
    border-bottom: none;
  }
}

.container-fluid .details-section-header {
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
}
.container-fluid h2.details-section-header {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.container-fluid .details-section-content-grid {
  margin-top: 20px;
}

.container-fluid .details-section-content-grid .collection-detail-entry {
  margin-bottom: 15px;
}

.container-fluid
  .details-section-content-grid
  div.collection-detail-entry:last-child {
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .container-fluid
    .details-section-content-grid
    div.collection-detail-entry:last-child {
    margin-bottom: 15px;
  }
}

.container-fluid .details-section-content-grid .collection-detail-key {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}
.container-fluid .details-section-content-grid .collection-detail-value {
  font-family: "Acherus", sans-serif;
  font-size: 1rem;
}

.collection-detail-value.identifier {
  -ms-word-break: break-all;
  word-break: break-all;
}

.container-fluid div.subcollections-section {
  padding-left: 20px;
  line-height: 1.2em;
}

.container-fluid
  div.subcollections-section
  .ui.compact.selection.dropdown
  .default.text {
  font-family: "gineso-condensed", sans-serif;
  font-size: 16px;
}

div.collection-items-grid {
  display: inline-grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}
div.collection-item {
  width: 250px;
  min-height: 300px;
  margin: 0 auto;
}

.collection-items-grid .collection-item-wrapper {
  border: 1px solid var(--light-gray);
}

div.collection-item .item-image {
  display: inline-block;
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-gray);
}
div.collection-item .item-image .image-container {
  border: none;
}
div.collection-item .item-image img {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

.collection-items-grid .collection-item .collection-item-wrapper a,
.collection-items-grid
  .collection-item
  .collection-item-wrapper
  a:visited
  .collection-items-grid
  .collection-item
  .collection-item-wrapper
  a:hover,
.collection-items-grid .collection-item .collection-item-wrapper a:focus,
.collection-items-grid .collection-item .collection-item-wrapper a:active {
  color: black;
  text-decoration: none;
}

.collection-items-grid .item-info {
  padding: 10px;
}

.collection-items-grid .item-info h3 {
  font-family: "gineso-condensed", sans-serif;
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
}

div.collection-items-list-wrapper {
  margin-top: 30px;
}
.collection-items-list-wrapper h4.collection-items-header {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.3125rem;
}

.collection-items-list-wrapper h3.subcollection-header {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.25rem;
}
.collection-items-list-wrapper .results-text {
  font-family: "gineso-condensed", sans-serif;
}
.collection-items-list-wrapper .subCollectionList a,
.collection-items-list-wrapper .subCollectionList a:visited {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1rem;
}

div.collection-items-list table tbody tr td.item-image img {
  width: 100px;
}
div.collection-items-list table tbody tr td.item-image {
  padding-right: 0;
  padding-left: 0.25rem;
}
div.collection-items-list table tbody tr td.item-info div.item-link-wrapper {
  font-weight: 700;
}

div.collection-items-list table tbody tr td.item-info a,
div.collection-items-list table tbody tr td.item-info a:visited {
  color: var(--link-blue);
}

div.collection-items-list
  table
  tbody
  tr
  td.item-info
  div.collection-link-wrapper
  a {
  -ms-word-break: break-all;
  word-break: break-all;
}
