:root {
  --hokieMaroon: #861f41;
  --hokieMaroonHover: #4c0000;
  --hokieOrange: #c64600;
  --light-gray: #f8f8f8;
  --dark-gray: #75787b;
  --link-blue: #007bff;
  --themeHighlightColor: #861f41;
}
