:root {
  --hokieMaroon: #861f41;
  --hokieMaroonHover: #4c0000;
  --hokieOrange: #c64600;
  --hokieOrangeHover: #7a2b00;
  --light-gray: #faf9fa;
  --dark-gray: #75787b;
  --darker-gray: #555;
  --link-blue: #007bff;
  --themeHighlightColor: #861f41;
}
