.contact-section {
  padding-bottom: 20px;
}
.contact-section p {
  font-family: "gineso-condensed", sans-serif;
  font-weight: 500;
}

.contact-heading {
  font-family: "gineso-condensed", sans-serif;
  margin: 0;
}

.contact-section .contact-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-section .contact-address p {
  margin: 0;
}
