.contact-section {
  margin: 100px -15px 0 -15px;
  background-color: var(--hokieMaroon);
  font-family: "Acherus", sans-serif;
}
.contact-iawa {
  position: relative;
  display: block;
  width: 100%;
  font-size: 2em;
  color: white;
}
.navbar-text {
  color: white;
}
.navbar-text p {
  margin-bottom: 0;
}
