.home-static-image-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 450px;
}

.home-wrapper .home-static-image-wrapper img {
  width: 100%;
  filter: brightness(40%) contrast(85%);
  margin: 0px;
  max-height: 450px;
  object-fit: cover;
}

.home-wrapper-no-text .home-static-image-wrapper img {
  width: 100%;
  margin: 0px;
  max-height: 450px;
  object-fit: cover;
}
