/*VT Libs custom footer */
.page__footer-copyright {
  display: flex;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.6875em;
  text-align: center;
  line-height: 1em;
}

.parbase > div.eds-search {
  margin-bottom: 0;
}

.search-container {
  background-color: rgba(44, 45, 45, 0.9);
  padding: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: inline-block;
  font-family: sans-serif;
  margin-right: 0.7em;
  margin-left: 0.7em;
}

.search-section {
  background-image: url("https://lib.vt.edu/content/dam/lib_vt_edu/search/search-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-text h1 {
  color: white;
  font-family: Gineso, sans-serif;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bolder;
  letter-spacing: 2px;
  text-shadow: 3px 3px 8px black;
}

.search-flex {
  display: flex;
}

.search-flex form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0;
}

.search-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 2.2em;
  border: none;
  width: 75px;
  font-size: 0.6em;
  padding-left: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  background: #fff
    url(https://lib.vt.edu/content/dam/lib_vt_edu/images/icons/point-down-no-line.png)
    no-repeat right center;
}

.search-select {
  order: 3;
  margin-top: 0.5em;
  line-height: 1em;
}

.search-query {
  flex: 1 0 85%;
}

.search-container input {
  height: 40px;
  line-height: 1.5em;
  font-size: 0.7em;
  padding: 0.7em;
  border: none;
  width: 100%;
}

.search-radios {
  order: 4;
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5em;
  line-height: 1em;
}

.search-container label {
  color: white;
  font-size: 0.5em;
  font-family: Acherus, sans-serif;
  margin-right: 1em;
  margin-left: 0.4em;
  margin-bottom: 0;
}

.search-container label:last {
  margin-right: 0;
}

.search-button {
  margin-left: 0;
}

.search-container button {
  height: 40px;
  background-color: #2cd5c4;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.search-container-links {
  display: inline-block;
  order: 5;
  margin-top: 1em;
  font-size: 0.4em;
  line-height: 1em;
}

.search-container-links a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.search-container-links a:hover {
  color: white;
  text-decoration: underline;
}

.search-container-links a:focus,
.search-container-links a:active {
  color: white;
}

.search-container-links ul {
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}

.search-container-links li {
  list-style-type: none;
  padding-right: 0.3rem;
}

.search-container-links li::after {
  content: "  /";
  color: #2cd5c4;
}

.search-container-links li::before {
  content: none !important;
}

.search-container-links li:last-child::after {
  content: "";
}

#facettype1,
#facettype2,
#facettype3 {
  height: 0.6em;
  width: 0.6em;
}

.search-container break {
  display: inline-block;
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

body {
  margin: 0;
}

footer .footer-content.active {
  padding: 0;
  padding-bottom: 40px;
  background-color: white;
}

footer.lib-ft {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Gineso, sans-serif;
  padding: 0;
}

footer.lib-ft h3 {
  color: #020202;
  font-size: 1em;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: Acherus Grotesque, sans-serif;
  font-weight: 400;
}

footer.lib-ft a {
  color: #8b1f41 !important;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: normal;
  text-align: center;
  font-family: Acherus Grotesque, sans-serif;
  font-weight: 400;
}

footer.lib-ft a:hover {
  text-decoration: underline;
}

footer.lib-ft p {
  color: #020202;
  font-size: 0.8em;
  padding: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  line-height: normal;
  font-family: Acherus Grotesque, sans-serif;
  font-weight: 400;
}

footer.lib-ft .lib-cc a.fed-link img.fed-img {
  width: auto;
  height: 30px;
}

.swoop {
  width: 100%;
  margin-bottom: -2px;
}

.swoop img {
  width: 100%;
  border: 0;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.lib-names {
  order: 2;
}

.lib-give {
  order: 1;
}

.lib-give .give-button {
  color: #fff;
  background-color: #8b1f41;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: Acherus, sans-serif;
  letter-spacing: 1px;
}

.lib-give .social-icons {
  color: #fff;
  display: flex;
  flex-direction: row;
}

.lib-give .social-icons a.footer-social-links {
  padding: 1.5rem;
  background-color: #8b1f41;
  width: 30px;
  height: 30px;
  border-radius: 35px;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lib-give .social-icons a.footer-social-links svg {
  width: 30px;
  height: 30px;
  color: white;
}

.lib-contact {
  order: 3;
}

.lib-contact,
.lib-give,
.lib-names,
.lib-int-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
}

footer.lib-ft .lib-cc p.cc-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-style: italic;
}

.notice-hours {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hours-con,
.notice {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.8em 1.5em;
}

h3.hours-heading {
  font-size: 1em;
  color: #861f41;
  margin: 0;
  font-family: Acherus, sans-serif;
  font-weight: 600;
}

h3.hours-heading span {
  font-weight: 600;
}

.notice-text {
  line-height: 1em;
}

.notice-text::before {
  content: "> ";
}

.hours-con .lib-hours-select {
  width: 100%;
  margin-top: 0.5em;
}

.hours-con .hours-heading-con {
  display: flex;
}

.hours-con .hours-heading-con > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hours-con select#libraries-hours {
  width: 100%;
  height: 3em;
  font-size: 0.8em;
  padding: 0 1em;
  overflow: hidden;
  padding-right: 35px;
  line-height: 1.5em;
  background-color: #861f41;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #861f41
    url(https://lib.vt.edu/content/dam/lib_vt_edu/images/icons/point-down-white.png)
    no-repeat right center;
}

.hours-con div.hours-links {
  margin-top: 0.8em;
}

.hours-con div.hours-links a {
  color: #508590;
  font-size: 0.8em;
  text-decoration: none;
  font-style: italic;
  line-height: 1em;
}

.hours-con div.hours-links a::after {
  content: " ▸";
  font-style: normal;
  margin-left: 0.5em;
  font-size: 1.3em;
  display: inline-block;
  color: #020202;
}

.hours-con div.hours-links a:active,
.hours-con div.hours-links a:visited {
  color: #508590;
}

.hours-con div.hours-links a:hover {
  color: #508590;
  text-decoration: underline;
}

hr.notice-hr {
  margin: 0 2em;
  color: #020202;
}

.notice-container {
  font-size: 0.8em;
  color: #020202;
  margin-top: 0.8em;
  margin-left: 0.5em;
}

.notice-container .notice-text {
  margin: 0;
}

.quick-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 0.4em;
}

.link-set {
  display: flex;
  flex-direction: column;
  padding-right: 1.25em;
}

.quick-container .link-set a {
  line-height: 1.5em;
  font-size: 0.9em;
}

.vr {
  display: none;
}

.hours-con table.hours-today {
  display: none;
}

.lib-hours-anim {
  -webkit-animation-name: hrs;
  -webkit-animation-duration: 2s;
  -moz-animation-name: hrs;
  -moz-animation-duration: 2s;
  animation-name: hrs;
  animation-duration: 2s;
}

.hidden {
  display: none;
}

@-webkit-keyframes hrs {
  from {
    color: #fe5b00;
  }

  to {
    color: #861f41;
  }
}

@keyframes hrs {
  from {
    color: #fe5b00;
  }

  to {
    color: #861f41;
  }
}

.parbase > div.access-con {
  margin-bottom: 0;
}

.access {
  width: 100%;
  background-color: #2c2d2d;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.access .access-arrows {
  display: none;
}

.access a.access-link {
  color: white;
}

.access a.access-link:visited,
.access a.access-link:active {
  color: white;
}

.access a.access-link .access-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.access a.access-link .access-text h3 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.access a.access-link .access-text p {
  font-size: 0.8em;
  margin-bottom: 0;
  text-align: center;
  font-family: gineso-condensed, sans-serif;
}

.hide {
  display: none;
}

section.notices {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 20px;
}

.notices-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #861f41;
}

p.notices-p {
  margin-bottom: 0;
}

h3.notices-h {
  margin-bottom: 5px;
  font-family: Acherus, sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 376px) {
  #facettype1,
  #facettype2,
  #facettype3 {
    height: 0.7em;
    width: 0.7em;
  }

  .search-container label {
    font-size: 0.7em;
  }

  .search-container-links {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 420px) {
  .search-container-links {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 765px) {
  footer.lib-ft a,
  footer.lib-ft p {
    font-size: 0.8em;
    padding: 0.2em;
  }

  footer.lib-ft a {
    width: auto;
  }

  footer.lib-ft .info-row {
    justify-content: space-around;
  }

  footer.lib-ft .info-row h3 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  footer.lib-ft .lib-names {
    order: 1;
    align-items: flex-start;
    padding-left: 1em;
  }

  footer.lib-ft .lib-names a {
    padding-left: 0;
    justify-content: flex-start;
    text-align: left;
  }

  footer.lib-ft .lib-give {
    order: 2;
  }

  footer.lib-ft .lib-give a .give-button {
    color: #fff;
    background-color: #8b1f41;
    border: none;
    border-radius: 3px;
    padding: 0.8em 2em;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 2em;
  }

  footer.lib-ft .lib-give .social-icons a.footer-social-links {
    padding: 1em;
    background-color: #8b1f41;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  footer.lib-ft .lib-give .social-icons a.footer-social-links svg {
    width: 30px;
    height: 30px;
    color: white;
  }

  footer.lib-ft .lib-contact {
    order: 3;
    align-items: flex-end;
    padding-right: 1em;
  }

  footer.lib-ft .lib-contact p {
    padding-right: 0;
    justify-content: flex-end;
    text-align: right;
  }

  footer.lib-ft .lib-names,
  .lib-give,
  .lib-contact {
    width: 30%;
    padding-bottom: 0.5em;
  }

  footer.lib-ft .lib-int-links {
    flex-direction: row;
    padding: 0.8em;
    justify-content: center;
    width: auto;
  }

  footer.lib-ft .lib-int-links a {
    padding: 0;
  }

  footer.lib-ft .lib-int-links a:last-child::after {
    content: none;
  }

  footer.lib-ft .lib-int-links a::after {
    content: "|";
    padding: 0 0.5em;
  }

  footer.lib-ft .lib-cc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  footer.lib-ft .lib-cc a.cc-link img {
    height: 30px;
    width: auto;
    margin: 1em;
  }

  footer.lib-ft .lib-cc p.cc-text {
    width: auto;
    font-size: 0.8rem;
  }

  footer.lib-ft .lib-cc p.cc-text a {
    font-size: 0.8rem;
    padding: 0 0.25em;
  }

  .search-text h1 {
    font-size: 2em;
    margin-top: 0.5em;
  }

  .search-container input {
    font-size: 0.8em;
  }

  .search-section {
    height: 250px;
  }

  .search-select {
    order: 2;
    margin-top: 0;
    margin-left: 1.5em;
  }

  .search-select select {
    font-size: 0.8em;
    height: 40px;
    width: 95px;
  }

  .search-button {
    order: 3;
    margin-left: 1.5em;
  }

  .search-container button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-query {
    flex: 1 0 60%;
  }

  .search-radios {
    width: auto;
    padding-left: 0;
    margin-top: 0.8rem;
  }

  .search-container-links {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.8rem;
  }

  .search-container form {
    justify-content: space-between;
  }

  .search-container {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1em;
    padding: 1em 1.5em;
  }

  .search-container label,
  .search-container .search-container-links {
    font-size: 0.8em;
  }

  .search-container label {
    margin-left: 0.2em;
    margin-right: 1em;
  }

  .search-container #facettype1,
  .search-container #facettype2,
  .search-container #facettype3 {
    height: 0.8em;
    width: 0.8em;
  }

  .notice-hours {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0.5em 0;
  }

  .notice-hr {
    display: none;
  }

  .notice-container {
    margin-top: 0.5em;
  }

  .vr {
    border-right: 2px #d7d2cb solid;
    display: inline-block;
  }

  .hours-con,
  .notice {
    max-width: 38%;
    padding: 0;
  }

  h3.hours-heading {
    font-size: 1.2em;
  }

  .hours-con div.hours-links a,
  .notice-container,
  .hours-con select#libraries-hours,
  .hours-con div.hours-links a::after {
    font-size: 0.8em;
  }

  .hours-con .lib-hours-select {
    height: 3em;
  }

  .hours-con div.hours-links,
  .hours-con .lib-hours-select {
    margin-top: 0.5em;
  }

  .access {
    padding: 1.3em;
  }

  .access .access-arrows {
    display: flex;
    font-size: 5em;
    font-weight: 100;
    padding: 0 0.5em;
    transform: scaleX(0.5);
  }

  .access a.access-link {
    color: white;
  }

  .access a.access-link:visited,
  .access a.access-link:active {
    color: white;
  }

  .access a.access-link .access-text h3 {
    margin-bottom: 0;
  }

  .access a.access-link .access-text p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1175px) {
  .search-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .search-container {
    margin-right: 15%;
    margin-left: 15%;
    padding: 1.5em;
  }

  .search-text h1 {
    font-size: 2.2em;
  }

  .search-container input {
    height: 50px;
    font-size: 1em;
  }

  .search-select select {
    height: 50px;
    font-size: 1em;
    width: 125px;
  }

  .search-container button {
    height: 50px;
    width: 50px;
    font-size: 1.6rem;
  }

  .search-section {
    height: 300px;
  }

  h3.hours-heading {
    font-size: 1.5em;
  }

  .hours-con div.hours-links a,
  .notice-container,
  .hours-con select#libraries-hours,
  .hours-con div.hours-links a::after {
    font-size: 0.9em;
  }

  .hours-con,
  .notice {
    max-width: 40%;
  }

  .quick-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .access .access-arrows {
    padding: 0 1em;
  }

  .access a.access-link {
    color: white;
  }

  .access a.access-link:visited,
  .access a.access-link:active {
    color: white;
  }

  .access a.access-link .access-text h3 {
    font-size: 1.7em;
    margin-bottom: 0.25em;
  }

  .access a.access-link .access-text p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1545px) {
  .search-container {
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1900px) {
  .search-container {
    margin-right: 25%;
    margin-left: 25%;
  }

  footer.lib-ft .lib-contact {
    padding-right: 2.5em;
  }

  footer.lib-ft .lib-names {
    padding-left: 2.5em;
  }
}
