div.collection-entry {
  position: relative;
  display: block;
  margin-top: 30px;
}

.collection-entry a {
  color: var(--themeHighlightColor);
}

.collection-entry a:hover,
.collection-entry a:focus {
  color: var(--themeHighlightColor);
}

div.collection-details h4 a {
  color: black;
}

h4.collection-title {
  font-size: 24px;
  margin-bottom: 20px;
}
div.collection-img {
  display: inline-block;
  margin-right: 15px;
}

div.collection-img img {
  width: 150px;
  height: 108px;
  object-fit: cover;
}

div.collection-details {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 180px);
}

div.collection-details h4 {
  font-size: 1.2em;
  font-family: "gineso-condensed", sans-serif;
  margin-bottom: 0.25rem;
}

div.collection-detail {
  display: none;
}

div.collection-detail table tr .collection-detail-key {
  font-size: 1.3em;
  padding-right: 3px;
  font-family: "gineso-condensed", sans-serif;
  vertical-align: text-top;
}

div.collection-detail table tr .collection-detail-value {
  font-size: 1em;
  font-family: "Acherus", sans-serif;
  font-weight: 400;
  text-align: left;
  vertical-align: text-top;
}

td.collection-detail-value div span.list-unstyled {
  margin-right: 2px;
}

span.list-unstyled:nth-of-type(n + 2)::before {
  content: ", ";
}

h3.list-type {
  margin-top: 30px;
}

a.more-link {
  margin-left: 10px;
  color: var(--themeHighlightColor);
}

.pagination-section {
  font-family: "gineso-condensed", sans-serif;
  text-align: right;
  font-size: 1.1em;
}

.pagination-text {
  padding: 5px 3.5px 5px 0px;
  font-weight: 500;
}

.pagination-section .ui.button {
  font-family: "gineso-condensed", sans-serif;
  font-weight: 400;
  padding: 10px;
  border: solid 1px #707070;
  background-color: #f8f8f8;
  color: #000000;
}

@media (min-width: 768px) {
  div.collection-detail {
    display: block;
  }

  div.collection-img img {
    width: 250px;
    height: 180px;
    object-fit: cover;
  }

  div.collection-details {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
  }

  div.collection-details h4 {
    font-size: 20px;
    font-family: "gineso-condensed", sans-serif;
    margin-bottom: 0.25rem;
  }

  div.collection-img {
    display: inline-block;
    margin-right: 30px;
  }
}
