.media-element-container {
  display: flex;
  flex-wrap: wrap;
}

.media-element-container div.audio-img-wrapper {
  max-width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .media-element-container {
    flex-wrap: nowrap;
  }

  .media-element-container div.audio-img-wrapper {
    max-width: 33%;
    margin-bottom: 0;
  }
}

.media-element-container img.audio-img {
  max-width: 100%;
  margin: 0 auto;
}

.media-player-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.media-player {
  width: 100%;
}

@media (min-width: 576px) {
  .media-player {
    width: calc(100% - 130px);
  }
}

@media (min-width: 768px) {
  .media-player {
    padding-left: 15px;
  }
}

.media-buttons {
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 15px;
  width: 100%;
  text-align: right;
}

@media (min-width: 576px) {
  .media-buttons {
    margin-top: 0px;
    width: 110px;
    text-align: left;
    line-height: 1px;
  }
}

.download-link {
  color: white !important;
  font-size: 1.4em;
  background-color: var(--themeHighlightColor);
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
}

.transcript-button {
  border: none;
  background-color: var(--light-gray);
  font-size: 2.3em;
  color: var(--themeHighlightColor);
  margin-right: 10px;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
}

div.feed-button-wrapper {
  margin-top: 20px;
  width: 100%;
  margin-left: -15px;
}

@media (min-width: 768px) {
  div.feed-button-wrapper {
    margin-left: 0px;
    text-align: right;
  }
}

.feed-button-wrapper button {
  background-color: white;
  border: solid 2px var(--dark-gray);
  border-radius: 4px;
  margin: 0 10px 10px 0;
  color: black;
  font-weight: 500;
}
