*,
*::before,
*::after {
  box-sizing: border-box;
}

.search-result-wrapper {
  padding-top: 40px;
}

.search-results {
  padding: 40px 0px 0px !important;
}

div.search-results div.row div#content div.navbar {
  margin-bottom: 15px;
}

.navbar {
  z-index: 900;
  background-color: #f8f8f8;
}

.navbar .ui.compact.selection.dropdown {
  background-color: #ffffff;
  border-color: #707070;
  color: #000000;
}

.navbar .ui.compact.selection.dropdown .default.text {
  color: #000000;
}

.search-results-section {
  padding-bottom: 20px;
}

.gallery-item {
  max-width: 292.48px;
}

.gallery-item .card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  border: none;
}

.gallery-item .card-img-top {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 0;
}

.gallery-item .card-body {
  height: 168px;
  border: 1px solid #e2e0e0;
  border-top: none;
}

.crop-text-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.gallery-item .card-body .card-title {
  font-family: "gineso-condensed", sans-serif;
}

.gallery-item .card-body .card-text {
  font-family: "Acherus", sans-serif;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:visited {
  color: black;
  text-decoration: none;
}

.glyphicon-list:before {
  content: "\e056";
}

.view-icon-gallery:before {
  content: "\e011";
}

div.masonry div.card {
  margin: 0.75rem 0 0 0;
}

.document {
  margin-top: 6px;
  padding-top: 6px;
  border-bottom: 1px dotted #ddd;
  border-bottom: none;
  flex: 1;
  min-width: 250px;
  min-height: 250px;
  -webkit-flex: 1 0 250px;
}

#sidebar {
  background: #eee;
  width: 250px;
}

.facet-header {
  cursor: pointer;
  border: solid 1px #f2f2f2;
  padding: 10px;
  background-color: #707070;
  color: #000000;
}

.facet-listing {
  cursor: pointer;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}
