*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  z-index: 900;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.search-result-wrapper {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.title-wrapper {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

.document {
  margin-top: 6px;
  padding-top: 6px;
  border-bottom: 1px dotted #ddd;
  border-bottom: none;
  flex: 1;
  min-width: 250px;
  min-height: 250px;
  -webkit-flex: 1 0 250px;
}

.glyphicon-list:before {
  content: "\e056";
}

.view-icon-gallery:before {
  content: "\e011";
}

.masonry {
  padding-top: 6px;
  flex: 1;
  min-width: 250px;
  height: auto;
  -webkit-flex: 1 0 250px;
}

.card-columns {
  display: inline-block;
  column-width: 250px;
}
