.searchbar-wrapper {
  padding: 6px 0px 6px 6px;
  background-color: white;
  box-shadow: -1px 0px 8px #0000004e;
  border-radius: 6px;
  display: flex;
}

.searchbar-wrapper input {
  border: none;
  border-width: 0;
  box-shadow: none;
  -webkit-appearance: none;
  width: calc(100% - 105px);
}

.searchbar-wrapper select {
  border-width: 0px 1px;
  margin-right: 0px;
  text-align: center;
  text-align-last: center;
  border-color: var(--dark-gray);
  background-color: white;
  border-radius: 0px;
  width: 65px;
  flex: none;
}

.searchbar-wrapper button {
  background-color: white;
  color: var(--themeHighlightColor);
  padding: 0.5px 8px;
  font-size: 22px;
}

.searchbar-wrapper button:hover,
.searchbar-wrapper button:active,
.searchbar-wrapper button:focus {
  color: #fff;
  background-color: #aa202d;
  border-color: #aa202d;
}

.search-options-wrapper {
  padding-top: 10px;
}

@media (min-width: 576px) {
  .searchbar-wrapper {
    padding: 6px 30px 6px 30px;
  }
  .searchbar-wrapper input {
    width: calc(100% - 164px);
  }
  .searchbar-wrapper select {
    margin-right: 30px;
    width: 100px;
  }

  .searchbar-wrapper button {
    background-color: var(--themeHighlightColor);
    color: white;
    padding: 0.5px 20px;
  }
}
