.terms-page-wrapper a,
.terms-page-wrapper a:visited {
  color: var(--hokieOrange);
}
.terms-page-wrapper a:hover,
.terms-page-wrapper a:focus,
.terms-page-wrapper a:active {
  color: var(--hokieOrangeHover);
}
.terms-heading {
  margin-bottom: 20px;
  widows: 100%;
}

.terms-heading h1 {
  font-family: "gineso-condensed", sans-serif;
  font-size: 2.625rem;
}

.terms-details {
  padding-right: 0px;
  padding-bottom: 30px;
}

.terms-details h1,
.terms-details h2,
.terms-details h3 {
  font-family: "gineso-condensed", sans-serif;
  margin: 20px 0 0 0;
}

.terms-details h1 {
  font-size: 1.53rem;
}

.terms-details h3 {
  font-size: 1.25rem;
}

.terms-details p {
  font-family: "Acherus", sans-serif;
}

.contact-section-wrapper {
  border-top: 1px solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

.terms-downloads-heading {
  font-family: "gineso-condensed", sans-serif;
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 768px) {
  .terms-details {
    padding-right: 30px;
  }
  .contact-section-wrapper {
    border-left: 1px solid grey;
    padding-left: 15px;
    border-top: none;
  }
}
